bin/
obj/
out/
**/.classpath
**/.project
**/.settings
**/.vs
**/.vscode
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.[Pp]ublish.xml
**/*.pubxml
**/azure-pipelines.yml
**/.git
**/.github
**/*.md
**/README.md
**/LICENSE
**/CODE_OF_CONDUCT.md
**/Dockerfile
**/docker-compose.yml
**/docker-compose.*.yml
**/.dockerignore
**/*test*.csproj
**/*Test*.csproj
**/EmployeeDepartment.db
**/Hangfire*
